* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: 'Times New Roman', Georgia, Garamond, serif;
    font-size: 80px;
    padding: 10px;
}

.recipes {
    font-family: 'Times New Roman', Georgia, Garamond, serif;
    font-size: 30px;
    padding: 10px 40px;
    line-height: 1.5;
}

.page_1,
.page_2,
.page_3 {
    padding: 0 50px;
    margin: 10px 20px;
}

.page_1 {
    height: 1900px;
    background-color: orange;
    border: 10px solid orangered;
}

.page_2 {
    height: 2000px;
    background-color: skyblue;
    border: 10px solid blue;
}

.page_3 {
    height: 2100px;
    background-color: pink;
    border: 10px solid red;
}

.heading_1 {
    font-family: 'Times New Roman', Georgia, Garamond, serif;
    font-size: 100px;
    text-align: center;
    padding: 10px 0;
}

.heading_2 {
    font-family: 'Times New Roman', Georgia, Garamond, serif;
    font-size: 50px;
    padding-bottom: 10px;
}

.text {
    font-family: 'Times New Roman', Georgia, Garamond, serif;
    font-size: 30px;
    line-height: 1.5;
    padding-bottom: 30px;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
}

.description,
.ingredients,
.directions {
    padding: 15px;
}